body {
  background-color: whitesmoke;
}
h1 {
  padding-top: 20px;
}
.temperature {
  font-size: 65px;
}
.weather-app {
  max-width: 800px;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: #cdccc6;
  margin: 30px auto;
}
form {
  padding-top: 15px;
}
.weather-temp {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
}
.weather-forecast-temp-min {
  opacity: 0.5;
}
