body {
  background-color: #d4d4d4;
}
h1 {
  padding-top: 20px;
}
h3 {
  font-size: 65px;
}
form {
  padding-top: 15px;
}
.weather-temp {
  padding-left: 20px;
}
.sun-icon {
  color: yellow;
  font-size: 95px;
}
.sun-icon-2 {
  color: yellow;
  font-size: 35px;
}
.cloud-icon {
  color: white;
  font-size: 35px;
}
.heavy-rain {
  color: #1e90ff;
  font-size: 35px;
}
.wind-icon {
  font-size: 35px;
  color: #00bfff;
}
