body {
  background-color: white;
}
h1 {
  padding-top: 20px;
}
h3 {
  font-size: 65px;
}
.weather-app {
  max-width: 800px;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: #d4d4d4;
  margin: 30px auto;
}
form {
  padding-top: 15px;
}
.weather-temp {
  padding-left: 20px;
}


